@model MVCPeaton.Models.ViewModels.ResetPasswordVM
@{
    ViewBag.Title = "Cambio de Contraseña";
}

<h2>Cambiar Contraseña</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(t => t.email);
                @Html.HiddenFor(t => t.token);
                @Html.HiddenFor(t => t.rid);
                <h4>Ingrese su Nueva contraseña</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.newpassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.newpassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.newpassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cambiar Contraseña" id="btnsubmit" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>

</div>
@*@section styles
{
    <link href="~/Content/strength.css" rel="stylesheet" />
}*@
@section scripts
{
<script src="~/Scripts/strength.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#newpassword').strength({
            strengthClass: 'strength',
            strengthMeterClass: 'strength_meter',
            strengthButtonClass: 'button_strength',
            strengthButtonText: 'Mostrar Password',
            strengthButtonTextToggle: 'Ocultar Password'
        });

        $("#newpassword").on('change', function () {
           if ($("#rid").val() == "3993")
           { 
               if ($('div[data-meter="newpassword"]').hasClass("veryweak") || $('div[data-meter="newpassword"]').hasClass("weak"))
            {
                alert("La contraseña es débil, debe contener mayusculas, minúsculas, números y un carácter especial como !,',}, etc");
                $("#btnsubmit").prop("disabled", true);
            }
            else
            {
                $("#btnsubmit").removeProp("disabled");
            }
           }
        })
    })
</script>


}
