@model MVCPeaton.Models.ViewModels.RenewConfirmRegistrationVM
@{
    ViewBag.Title = "Reenviar confirmación";
}

<h2>Cambiar Contraseña</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("ReNewConfirmRegistration", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Ingrese su Email.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Solicitar nuevamente confirmación" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
