@model MVCPeaton.Models.ViewModels.BusinessProfileVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</head>

<body>
    @using (Html.BeginForm("Add", "BusinessProfile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model=>Model.coverphoto)
        @Html.HiddenFor(Model => Model.Foto1)
        @Html.HiddenFor(Model => Model.Foto2)
        @Html.HiddenFor(Model => Model.Foto3)
        @Html.HiddenFor(Model => Model.Foto4)
        @Html.HiddenFor(Model => Model.Foto5)
        @Html.HiddenFor(Model => Model.Foto6)
        @Html.HiddenFor(Model => Model.Link6)
        @Html.HiddenFor(Model => Model.Link7)
        @Html.HiddenFor(Model => Model.Link8)

        <div class="col-md-12">
            <h4>BusinessProfileVM</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.Label("", "Foto Portada", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="" id="Photo" width="500" height="250">
                    <label for="FileUpload" class="btn btn-primary btn-block btn-outlined" style="width:150px ">Seleccionar Foto</label>
                    <input type="file" id="FileUpload" accept="image/*" style="display: none">
                    @Html.ValidationMessageFor(model => model.coverphoto)
                </div>
            </div>
              
            <div class="form-group">               
                @Html.Label("", "Foto", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="" id="Photo1" width="150" height="150">
                    <label for="FileUpload1" class="btn btn-primary btn-block btn-outlined" style="width:150px ">Seleccionar Foto</label>
                    <input type="file" id="FileUpload1" accept="image/*" style="display: none">
                    @Html.ValidationMessageFor(model => model.Foto1)
                </div>
            </div>

             <div class="form-group">
                @Html.Label("", "Foto I", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="" id="Photo2" width="150" height="150">
                    <label for="FileUpload2" class="btn btn-primary btn-block btn-outlined" style="width:150px ">Seleccionar Foto</label>
                    <input type="file" id="FileUpload2" accept="image/*" style="display: none">
                    @Html.ValidationMessageFor(model => model.Foto2)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("", "Foto II", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="" id="Photo3" width="150" height="150">
                    <label for="FileUpload3" class="btn btn-primary btn-block btn-outlined" style="width:150px ">Seleccionar Foto</label>
                    <input type="file" id="FileUpload3" accept="image/*" style="display: none">
                    @Html.ValidationMessageFor(model => model.Foto3)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("", "Foto III", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="" id="Photo4" width="150" height="150">
                    <label for="FileUpload4" class="btn btn-primary btn-block btn-outlined" style="width:150px ">Seleccionar Foto</label>
                    <input type="file" id="FileUpload4" accept="image/*" style="display: none">
                    @Html.ValidationMessageFor(model => model.Foto4)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("", "Foto IV", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="" id="Photo5" width="150" height="150">
                    <label for="FileUpload5" class="btn btn-primary btn-block btn-outlined" style="width:150px ">Seleccionar Foto</label>
                    <input type="file" id="FileUpload5" accept="image/*" style="display: none">
                    @Html.ValidationMessageFor(model => model.Foto1)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("", "Foto V", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <img src="" id="Photo6" width="150" height="150">
                    <label for="FileUpload6" class="btn btn-primary btn-block btn-outlined" style="width:150px ">Seleccionar Foto</label>
                    <input type="file" id="FileUpload6" accept="image/*" style="display: none">
                    @Html.ValidationMessageFor(model => model.Foto1)
                </div>
            </div>
    
            <div class="form-group">
                @Html.CheckBox("Facebook", false, new { @id= "checkBox1" })
                @Html.Label("","Facebook ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" , id="textBox1" } })
                    @Html.ValidationMessageFor(model => model.Link1, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.CheckBox("Twitter", false, new { @id= "checkBox2" })
               @Html.Label("", "Twitter ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", id = "textBox2" } })
                    @Html.ValidationMessageFor(model => model.Link2, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.CheckBox("Instagram", false, new { @id = "checkBox3" })
              @Html.Label("", "Instagram ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", id = "textBox3" } })
                    @Html.ValidationMessageFor(model => model.Link3, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.CheckBox("Sitio Personal", false, new { @id = "checkBox4" })
              @Html.Label("", "Sitio Personal ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link4, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", id = "textBox4" } })
                    @Html.ValidationMessageFor(model => model.Link4, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.CheckBox("Google+", false, new { @id = "checkBox5" })
                @Html.Label("", "Google+ ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link5, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", id = "textBox5" } })
                    @Html.ValidationMessageFor(model => model.Link5, "", new { @class = "text-danger" })
                </div>                
            </div>

            <br /><br />

            <div id="input">
                @*Body para insertar label y textbox a traves del modal*@
            </div>

            <br /><br />

            <div class="form-group">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="bntModal" style="display:block">
                    Agregar Nuevo
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>*@    
                            </div>
                            <div class="modal-body" style="width : 100px">
                                Nombre:<br>
                                <input type="text" id="textNombre"><br>
                                Link:
                                <input type="text" id="textLink" ><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="buttonAgregar" data-dismiss="modal">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            
            
            <div class="form-group">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="bntModal" style="display:none">
                    Agregar Nuevo
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModalModify" tabindex="-1" role="dialog" aria-labelledby="myModalLabelModify">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>*@
                            </div>
                            <div class="modal-body" style="width : 100px">
                                Nombre:<br>
                                <input type="text" id="textNombreModify"><br>
                                Link:
                                <input type="text" id="textLinkModify"><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="buttonModify" data-dismiss="modal">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
             
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
@section styles
{
    <link href="~/Content/strength.css" rel="stylesheet" />
}
@section scripts
{

    <script src="~/Scripts/strength.min.js"></script>
    <script type="text/javascript">
        
        /*****************FOTO PORTADA**************************/
        $(document).ready(function () {
            function EnDisSubmit(event) {
                debugger;
                if ($.trim($("#Email").val()) != "" && $.trim($("#Username").val()) != "" && $.trim($("#dni").val()) != "" &&
                    $.trim($("#coverphoto").val()) != "" && $.trim($("#Foto1").val()) != "")
                    $("#btnsubmit").removeProp("disabled");
                else
                    $("#btnsubmit").prop("disabled", true);
            };

            $("#btnsubmit").prop("disabled", true);
            $("#age").val(18);

            $('#Password').strength({
                strengthClass: 'strength',
                strengthMeterClass: 'strength_meter',
                strengthButtonClass: 'button_strength',
                strengthButtonText: 'Mostrar Password',
                strengthButtonTextToggle: 'Ocultar Password'
            });

            function successFunc(data, status) {

                if (data.Data == true) {
                    alert("Duplicado");
                    $("#btnsubmit").prop("disabled", true);
                }
                else {
                    EnDisSubmit();
                }
            }

            function errorFunc() {
                $("#btnsubmit").prop("disabled", true);
            }


        $("#dni").on("blur", function (event) {
            if ($.trim($("#dni").val()) == "" || $("#dni").val().indexOf('.com') > -1) {
                $("#btnsubmit").prop("disabled", true);
                return;
            }

        var serviceURL = '/Account/SearchByDocument';
        var obj = {
            "dni": "" + $.trim($("#dni").val()) + "",
            };

        var jsondata = JSON.stringify(obj);
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: jsondata,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

        });    $('.numbersOnly').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });

        function isNumeric(e) {
            var keynum = (!window.event) ? e.which : e.keyCode;
            return !((keynum == 8 || keynum == undefined || e.which == 0) ? null : String.fromCharCode(keynum).match(/[^0-9]/));
        }

        function ExecuteUpload() {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload").files[i];

                formData.append("FileUpload", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/UploadPublicPhoto',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    $("#coverphoto").val(response.Path);
                    EnDisSubmit();
                },
                error: function (error) {
                    alert("errror");
                    $("#coverphoto").val("");
                    EnDisSubmit();
                }
            });
        };

        $("#FileUpload").on("change", function (event) {

            readURL(this);
        });       
        $("#FileUpload1").on("change", function (event) {

            readURL1(this);
        });
        $("#FileUpload2").on("change", function (event) {

            readURL2(this);
        });
        $("#FileUpload3").on("change", function (event) {

            readURL3(this);
        });
        $("#FileUpload4").on("change", function (event) {

            readURL4(this);
        });
        $("#FileUpload5").on("change", function (event) {

            readURL5(this);
        });
        $("#FileUpload6").on("change", function (event) {

            readURL6(this);
        });

        function readURL(fileInput) {

            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif']; //array of valid extensions
                var fileName = file.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                debugger;
                if ($.inArray(fileNameExt, validExtensions) == -1) {

                    alert("Tipo de archivo inválido");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                else if (file.size / 1024 / 1024 > 5)
                {
                    alert("No puede subir una imagen mayor a 5 Mb");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                var img = document.getElementById("Photo");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
                ExecuteUpload();
            }

        }

        function ClearFile()
        {
            document.getElementById("Photo").src = "";
            document.getElementById("FileUpload").files = null;
            document.getElementById("FileUpload").value = "";
            $("#FileUpload").val("");
            $('#file').replaceWith($('#file').clone());
            $("#coverphoto").val("");
        }

        function clearFileInput(ctrl) {
            try {
                ctrl.value = null;
            } catch (ex) { }
            if (ctrl.value) {
                ctrl.parentNode.replaceChild(ctrl.cloneNode(true), ctrl);
            }
        }

        })

        /**********************FOTO 1******************************/

        function ExecuteUpload1() {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload1").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload1").files[i];

                formData.append("FileUpload1", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/UploadPublicPhoto',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    $("#Foto1").val(response.Path);
                    EnDisSubmit();
                },
                error: function (error) {
                    alert("errror");
                    $("#Foto1").val("");
                    EnDisSubmit();
                }
            });
        };

        function readURL1(fileInput) {

            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif']; //array of valid extensions
                var fileName = file.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                debugger;
                if ($.inArray(fileNameExt, validExtensions) == -1) {

                    alert("Tipo de archivo inválido");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                else if (file.size / 1024 / 1024 > 5)
                {
                    alert("No puede subir una imagen mayor a 5 Mb");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                var img = document.getElementById("Photo1");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
                ExecuteUpload1();
            }

        }

        function ClearFile()
        {
            document.getElementById("Photo1").src = "";
            document.getElementById("FileUpload1").files = null;
            document.getElementById("FileUpload1").value = "";
            $("#FileUpload1").val("");
            $('#file').replaceWith($('#file').clone());
            $("#Foto1").val("");
        }

        /**********************FOTO 2******************************/

        function ExecuteUpload2() {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload2").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload2").files[i];

                formData.append("FileUpload2", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/UploadPublicPhoto',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    $("#Foto2").val(response.Path);
                    EnDisSubmit();
                },
                error: function (error) {
                    alert("errror");
                    $("#Foto2").val("");
                    EnDisSubmit();
                }
            });
        };

        function readURL2(fileInput) {

            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif']; //array of valid extensions
                var fileName = file.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                debugger;
                if ($.inArray(fileNameExt, validExtensions) == -1) {

                    alert("Tipo de archivo inválido");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                else if (file.size / 1024 / 1024 > 5) {
                    alert("No puede subir una imagen mayor a 5 Mb");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                var img = document.getElementById("Photo2");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
                ExecuteUpload2();
            }

        }

        function ClearFile() {
            document.getElementById("Photo2").src = "";
            document.getElementById("FileUpload2").files = null;
            document.getElementById("FileUpload2").value = "";
            $("#FileUpload2").val("");
            $('#file').replaceWith($('#file').clone());
            $("#Foto2").val("");
        }

        /**********************FOTO 3******************************/

        function ExecuteUpload3() {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload3").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload3").files[i];

                formData.append("FileUpload3", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/UploadPublicPhoto',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    $("#Foto3").val(response.Path);
                    EnDisSubmit();
                },
                error: function (error) {
                    alert("errror");
                    $("#Foto3").val("");
                    EnDisSubmit();
                }
            });
        };

        function readURL3(fileInput) {

            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif']; //array of valid extensions
                var fileName = file.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                debugger;
                if ($.inArray(fileNameExt, validExtensions) == -1) {

                    alert("Tipo de archivo inválido");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                else if (file.size / 1024 / 1024 > 5) {
                    alert("No puede subir una imagen mayor a 5 Mb");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                var img = document.getElementById("Photo3");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
                ExecuteUpload3();
            }

        }

        function ClearFile() {
            document.getElementById("Photo3").src = "";
            document.getElementById("FileUpload3").files = null;
            document.getElementById("FileUpload3").value = "";
            $("#FileUpload3").val("");
            $('#file').replaceWith($('#file').clone());
            $("#Foto3").val("");
        }

        /**********************FOTO 4*****************************/

        function ExecuteUpload4() {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload4").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload4").files[i];

                formData.append("FileUpload4", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/UploadPublicPhoto',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    $("#Foto4").val(response.Path);
                    EnDisSubmit();
                },
                error: function (error) {
                    alert("errror");
                    $("#Foto4").val("");
                    EnDisSubmit();
                }
            });
        };

        function readURL4(fileInput) {

            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif']; //array of valid extensions
                var fileName = file.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                debugger;
                if ($.inArray(fileNameExt, validExtensions) == -1) {

                    alert("Tipo de archivo inválido");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                else if (file.size / 1024 / 1024 > 5) {
                    alert("No puede subir una imagen mayor a 5 Mb");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                var img = document.getElementById("Photo4");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
                ExecuteUpload4();
            }

        }

        function ClearFile() {
            document.getElementById("Photo4").src = "";
            document.getElementById("FileUpload4").files = null;
            document.getElementById("FileUpload4").value = "";
            $("#FileUpload4").val("");
            $('#file').replaceWith($('#file').clone());
            $("#Foto4").val("");
        }

        /**********************FOTO 5******************************/

        function ExecuteUpload5() {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload5").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload5").files[i];

                formData.append("FileUpload5", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/UploadPublicPhoto',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    $("#Foto5").val(response.Path);
                    EnDisSubmit();
                },
                error: function (error) {
                    alert("errror");
                    $("#Foto5").val("");
                    EnDisSubmit();
                }
            });
        };

        function readURL5(fileInput) {

            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif']; //array of valid extensions
                var fileName = file.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                debugger;
                if ($.inArray(fileNameExt, validExtensions) == -1) {

                    alert("Tipo de archivo inválido");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                else if (file.size / 1024 / 1024 > 5) {
                    alert("No puede subir una imagen mayor a 5 Mb");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                var img = document.getElementById("Photo5");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
                ExecuteUpload5();
            }

        }

        function ClearFile() {
            document.getElementById("Photo5").src = "";
            document.getElementById("FileUpload5").files = null;
            document.getElementById("FileUpload5").value = "";
            $("#FileUpload5").val("");
            $('#file').replaceWith($('#file').clone());
            $("#Foto5").val("");
        }

        /**********************FOTO 6******************************/

        function ExecuteUpload6() {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload6").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload6").files[i];

                formData.append("FileUpload6", file);
            }
            $.ajax({
                type: "POST",
                url: '/File/UploadPublicPhoto',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    $("#Foto6").val(response.Path);
                    EnDisSubmit();
                },
                error: function (error) {
                    alert("errror");
                    $("#Foto6").val("");
                    EnDisSubmit();
                }
            });
        };

        function readURL6(fileInput) {

            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif']; //array of valid extensions
                var fileName = file.name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                debugger;
                if ($.inArray(fileNameExt, validExtensions) == -1) {

                    alert("Tipo de archivo inválido");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                else if (file.size / 1024 / 1024 > 5) {
                    alert("No puede subir una imagen mayor a 5 Mb");
                    ClearFile();
                    EnDisSubmit();
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                var img = document.getElementById("Photo6");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
                ExecuteUpload6();
            }

        }

        function ClearFile() {
            document.getElementById("Photo6").src = "";
            document.getElementById("FileUpload6").files = null;
            document.getElementById("FileUpload6").value = "";
            $("#FileUpload6").val("");
            $('#file').replaceWith($('#file').clone());
            $("#Foto6").val("");
        }

    </script>

    <script src="~/Scripts/BusinessProfile.js"></script>
}