@model MVCSysacad.Models.ViewModel.PersonaVM

@{
    Layout = "";
}

@using (Html.BeginForm("Change", "Login", FormMethod.Post, new { id = "frmpageadd", name = "frmpageadd", enctype = "multipart/form-data", @class = "formadd" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.id_persona)
    <div style="position:absolute;left:50%;top:50%;
                            width: 660px;
                            height: 310px;
                            margin-left: -270px;
                            margin-top: -110px;
                            font-size: 18px;
                            border:2px solid cornflowerblue;
                            border-radius:5px">
        <h3 class="panel panel-primary text-center top" style="background-color:cornflowerblue">
           Cambiar Contraseña por logeas por pimera Vez
        </h3>
        <div class="alert-info text-center">
            @ViewBag.message
        </div>
        <br />
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>
                    Contraseña Actual
                </h4>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.usuariossingle.clave, new { htmlAttributes = new { @class = "form-control", style = "width:300px", id="idclave" } })             
            </div>
        </div>
        <br />
        <br />
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>
                   Nuevo Contraseña 
                </h4>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.usuariossingle.nuevaclave, new { htmlAttributes = new { @class = "form-control", style = "width:300px", id = "idclavenueva" } })               
            </div>

        </div>
        <br />
        <br />
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>
                   Confirmar Contraseña
                </h4>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.usuariossingle.confirmarclave, new { htmlAttributes = new { @class = "form-control", style = "width:300px", id = "idconfirmarclave" } })             
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-9 col-md-10">
                <input type="submit" value="Confirmar Cambio" class="btn btn-primary" />
            </div>
        </div>
    </div>   
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

