@{
//ViewBag.Title = "Home Page";
    @*@ViewBag.Tipo;  
    Layout = "~/Views/Shared/_Layout.cshtml";*@
}




@*<div style="position:absolute;left:50%;top:50%;
                            width: 400px;
                            height: 200px;
                            margin-left: -200px;
                            margin-top: -90px;
                            font-size: 18px;
                            border:2px solid cornflowerblue;
                            border-radius:5px" 
     >
    <h3 class="panel panel-primary text-center top" style="background-color:cornflowerblue">
        Bienvenido a Sysacad
    </h3>
    <div class="col-md-12">
        <div class="col-md-2">
            <h4>
                Usuario              
            </h4>
        </div>
        <div class="col-md-2" style="left:40px;">
            <input type="text" placeholder="Usuario" id="idusuuario"/>
        </div>       
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <div class="col-md-2">
            <h4>
                Contraseña         
            </h4>
        </div>
        <div class="col-md-2" style="left:40px;">
            <input type="password" id="idclave"/>
        </div>
       
    </div>
</div>*@

@*<div class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container col-md-offset-7">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav ">
                <li>@Html.ActionLink("Alta Persona", "Index", "Persona")</li>
                <li>@Html.ActionLink("Modulo", "Index", "Modulo")</li>
                <li>@Html.ActionLink("Plan", "Index", "Plan")</li>
                <li>@Html.ActionLink("Especialidad", "Index", "Especialidad")</li>
            </ul>
        </div>
    </div>
</div>*@
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@