@model IEnumerable<MVCPeaton.Models.ViewModels.Preferences.PreferenceVM>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mybankslink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mytagslink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.myitemslink)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mybankslink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mytagslink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.myitemslink)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateForm", new { id=item.Id }) |
            </td>
        </tr>
    }
    
    </table>